{{- $self := .self -}}
{{- $ratio := .Params.ratio | default "4by3" -}}
{{- $size := .Params.size | default "75" -}}
{{- $bg := .self.Scratch.Get "bg" }}

{{- partial "helpers/container.html" (dict "start" true "in_slot" .in_slot "bg" $bg "id" .id "Params" .Params) -}}
  {{- partial "helpers/section-header.html" (dict "self" $self "bg" $bg "params" .Params) }}
  <div class="row justify-content-center">
    {{- if eq .Params.responsive false }}
      <div class="{{- printf "w-%s" $size -}}">
        {{- .Params.media | safeHTML -}}
      </div>
    {{- else }}
      <div class="embed-responsive
        {{- printf " embed-responsive-%s" $ratio -}}
        {{- printf " h-%s w-%s" $size $size -}}
      ">
        {{- if .Params.media }}
          {{- .Params.media | safeHTML -}}
        {{- else }}

        <!--
        {{ .File.Path }}
        <a href="{{ .File.Path }}">Editera denna sida</a>
        -->

     <iframe title="Inspelad workshop" class="embed-responsive-item" src="{{ .Params.media_source }}" frameborder="0" allowfullscreen></iframe>

<!--
          <div style="position: relative; height: 0; overflow: hidden;">
            <iframe src="{{ .Params.media_source }}?autoplay=1" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="YouTube Video"></iframe>
          </div>
-->


        {{- end }}
      </div>
    {{- end }}
  </div>
{{- partial "helpers/container.html" (dict "end" true "in_slot" .in_slot) -}}
