<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default (printf "en-us") }}">
  {{ block "main" . -}}
    <!-- The part of the page that begins to differ between templates -->
  {{ end }}
  {{- partial "head.html" . }}
  {{- $bg := .Site.Params.style.background | default "secondary" -}}

  <body class="{{ printf "bg-%s" $bg }}">
    {{ partial "helpers/fragments-renderer.html" (dict "page_scratch" .Scratch) -}}

    <div id="react"></div>

    {{ partial "js.html" . }}

    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>

  <!--  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#237afc"
        },
        "button": {
          "background": "#fff",
          "text": "#237afc"
        }
      },
      "type": "opt-in",
      "content": {
        "message": "Denna sajt sparar cookies först när du startar en youtube-klipp. Om du väljer att spela upp ett klipp så godkänner du automatiskt youtubes användarvillkor.",
        "dismiss": "Deny",
        "allow": "OK",
        "link": "Läs mer om youtubes användarvillkor",
        "href": "https://www.youtube.com/static?template=terms&hl=sv&gl=SE"
      }
    });
    </script>

  </body>
</html>
