

<!--  Example 2 -->



<div class="bg-dark">

  <div class="row mb-5"></div>


  <div class="container bg-white">



    <h1 id="kalendarium">Kalendarium</h1>
    <!--
    <div class="row row-striped">
    <div class="col-3 text-center">
    <h1 class="display-4"><span class="badge badge-secondary">27</span></h1>
    <h2>Nov</h2>
  </div>
  <div class="col-9">
  <h3 class="text-uppercase"><strong>Arbetsmöte remissvar öppna data -utredningen</strong></h3>
  <ul class="list-inline">
  <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Fredag</li>
  <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 12:15</li>
  <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
</ul>
<p>Vad finns det för saker som behöver ses över i förslaget till lag om öppna data och vidareutnyttjande av information från myndigheter och offentliga företag som nu är ute på remiss? Under detta arbetsmöte går vi igenom de olika synpunkter på lagförslaget som kommit in i ett gemensamt dokument för remissvar till öppna data-utredningen som ett antal organisationer gått ihop för att skriva tillsammans på initiativ av bl.a. Civic Tech Sweden.</p>
<a href="https://civictech.se/workshop-kring-remissvar-till-oppna-data-utredningen/?fbclid=IwAR3t-j0f3w87RziPSxot_be984OFDUIpwk8EY-oUxyas7reAHxZCa1IATr8">Boka plats</a>
</div>
</div>
-->

<!--
<div class="row row-striped">
<div class="col-3 text-center">
<h1 class="display-4"><span class="badge badge-secondary">8</span></h1>
<h2>DEC</h2>
</div>
<div class="col-9">
<h3 class="text-uppercase"><strong>Hackathons</strong></h3>
<ul class="list-inline">
<li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tisdag</li>
<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 12:00</li>
<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
</ul>
<p>Offentlig sektor satsar på nationella innovationstävlingar och hackathons med syfte att få öppna data i användning; som en del av myndigheternas verksamhetsutveckling och/eller som en katalysator för innovation. Räcker denna ansats eller krävs det något mer för att uppnå det vi vill?</p>
<a href="https://www.goto10.se/event/hackatons-och-innovationstavlingar/">Boka plats</a>
</div>
</div>
-->

<!--
<div class="row row-striped">
<div class="col-3 text-center">
<h1 class="display-4"><span class="badge badge-secondary">12</span></h1>
<h2>Jan</h2>
</div>
<div class="col-9">
<h3 class="text-uppercase"><strong>Policy för öppen programvara</strong></h3>
<ul class="list-inline">
<li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tisdag</li>
<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 12:00</li>
<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
</ul>
<p>Det föreligger behov av styrning och inriktning hos myndigheter för att lyckas med att strategiskt engagera sig i öppen programvara (open source).  På denna workshop presenteras olika policies för öppen källkod. Diskutera med oss kring vad som behöver sättas på pränt för att lyckas med ett öppnare arbetssätt. Ta också del av SCB:s erfarenheter och dela mer er av era egna erfarenheter.</p>
<a href="https://www.goto10.se/event/policy-for-oppen-programvara-hos-myndigheter-varfor-och-hur-ar-de-formulerade/">Boka plats</a>
</div>
</div>
-->
<!--
<div class="row row-striped">
<div class="col-3 text-center">
<h1 class="display-4"><span class="badge badge-secondary">2</span></h1>
<h2>Feb</h2>
</div>
<div class="col-9">
<h3 class="text-uppercase"><strong>API-nycklar och notebooks - Hur maximerar vi tillgängliggörande av öppna data?</strong></h3>
<ul class="list-inline">
<li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tisdag</li>
<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 12:00</li>
<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
</ul>
<p>Detta digitala möte handlar om att diskutera om och hur vi kan tillhandahålla API-nycklar. Vi kommer att diskutera hur vi tänker kring
<ul>
<li>Rätten av att fråga om någons identitet</li>
<li>Behovet att veta vilka som är våra användare</li>
<li>Villkor och licenser</li>
</ul>
Vidare diskuterar vi och exemplifierar hur man kan presentera sina data med hjälp av Notebooks. Har er organisation använt sig av Notebooks.
</p>
<a href="https://www.goto10.se/event/api-nycklar-och-notebooks-hur-maximerar-vi-tillganglighetgorandet-av-oppna-data/">Boka plats</a>
</div>
</div>


<div class="row row-striped">
<div class="col-3 text-center">
<h1 class="display-4"><span class="badge badge-secondary">2</span></h1>
<h2>Mars</h2>
</div>
<div class="col-9">
<h3 class="text-uppercase"><strong>Samverkan kring Öppen Programvara inom offentlig sektor: Hur gör man i andra länder?</strong></h3>
<ul class="list-inline">
<li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tisdag</li>
<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 12:00</li>
<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
</ul>
<p>Fördelarna och utmaningarna kring öppen programvara är många, och något vi berört tidigare. Men hur kan vi bli praktiska och hjälpa varandra ta de första stegen till att börja använda, utveckla och upphandla öppen programvara? I denna workshop gör vi en utblick i omvärlden och får höra lärdommar och tips från andra länder i hur de har hanterat motsvarande frågor!</p>
<a href="https://www.goto10.se/event/samverkan-kring-oppen-programvara-inom-inom-offentlig-sektor-hur-gor-man-i-andra-lander/">Boka plats</a>
</div>
</div>
-->

<!--
<div class="row row-striped">
<div class="col-3 text-center">
<h1 class="display-4"><span class="badge badge-secondary">6</span></h1>
<h2>April</h2>
</div>
<div class="col-9">
<h3 class="text-uppercase"><strong>Länkad data</strong></h3>
<ul class="list-inline">
<li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tisdag</li>
<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 12:00</li>
<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
</ul>
<p>Länkad data nämns som den högsta nivån av mognad i 5 Star open data-modellen av Tim Burners Lee. Genom att länka sin öppna data till relaterade datamängder ökar potentialen för att datan kommer i användning och att ligger till grund för nya innovationer. Men vad innebär det praktiskt? Vilka är de konkreta fördelarna, riskerna och kostnaderna? Och hur kan en myndighet gå till väga? I denna workshop får vi en översikt kombinerat med praktiska exempel för att hjälpa myndigheter ta nästa kliv i mognadsstegen för sin öppna data.</p>
<a href="https://www.goto10.se/event/lankad-data-vad-innebar-det-rent-praktiskt/">Boka plats</a>
</div>
</div>

<div class="row row-striped">
<div class="col-3 text-center">
<h1 class="display-4"><span class="badge badge-secondary">4</span></h1>
<h2>Maj</h2>
</div>
<div class="col-9">
<h3 class="text-uppercase"><strong>Öppna standarder</strong></h3>
<ul class="list-inline">
<li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tisdag</li>
<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 12:00</li>
<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
</ul>
<p>Vid avrop från Kammarkollegiets ramavtal för programvaror och tjänster är det endast tillåtet att ställa obligatoriska krav på en viss standard om den uppfyller definitionen av öppen standard enligt SOU 2009:86 och EIF 1.0. Men vad räknas som en öppen standard och hur bra är myndigheter på denna typ av kravställning. Kan öppna standarder vara huvudnyckeln för att undvika långvariga inlåsningseffekter?</p>
<a href="https://www.goto10.se/event/oppna-standarder/">Boka plats</a>
</div>
</div>
-->

<!--
<div class="row row-striped">
<div class="col-3 text-center">
<h1 class="display-4"><span class="badge badge-secondary">30</span></h1>
<h2>Maj</h2>
</div>
<div class="col-9">
<h3 class="text-uppercase"><strong>FOSS-north</strong></h3>
<ul class="list-inline">
<li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Söndag</li>
<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 12:00</li>
<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
</ul>
<p>FOSS-NORTH tillsammans med Arbetsförmedlingens projekt <a href="https://gitlab.com/arbetsformedlingen/joblinks/wiki/-/wikis/home">Ekosystem för annonser</a> välkomnar till en communitydag. Dagen är en möjlighet att samskapa och bidra till teknikutvecklingen tillsammans med myndigheten. Projektets källkod är öppen.
</p>

<div class="card">
<div class="card-body">
<h5 class="card-title">Anmälan</h5>
<h6 class="card-subtitle mb-2 text-muted">Mötet sker på Jitsi</h6>
<form id="fs-frm" name="basic-rsvp-form" accept-charset="utf-8" action="https://formspree.io/f/mwkavjqr" method="post">
<fieldset id="fs-frm-inputs">
<label for="full-name">För och efternamn</label>
<input type="text" name="name" id="full-name" placeholder="För och efternamn" required="">
<label for="email">Email</label>
<input type="text" name="email" id="email" placeholder="Email" required="">

<p>
<label for="organisation">Organisation</label>
<input type="text" name="organisation" id="organisation" placeholder="Frivilligt" required="">
<input type="hidden" name="_subject" id="email-subject" value="Anmälan">
</p>
</fieldset>
<button type="submit">Anmälan</button>
</form>
</div>
</div>

</div>
</div>

-->

<!--

<div class="row row-striped">
<div class="col-3 text-center">
<h1 class="display-4"><span class="badge badge-secondary">2</span></h1>
<h2>Juni</h2>
</div>
<div class="col-9">
<h3 class="text-uppercase"><strong>FOSS-north</strong></h3>
<ul class="list-inline">
<li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Onsdag</li>
<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 12:00</li>
<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 13:00 - 15:00</li>
<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
</ul>
<p>Bör skattefinansierad programvara bör vara öppen för alla? När kan det vara (o)lämpligt? Hur gör vi idag? Hur kan vi arbeta för att identifiera och uppnå eventuella nyttor tillika hantera eventuella risker? Dessa är öppna frågor vi ställer kritiskt och diskuterar konstruktivt tillsammans. Målet är att inspirera och kunskapsdela för att främja en öppen samverkan tillika utveckla debatten från att enbart fokusera på data till att även inkludera tekniken runt om.
</p>
<p>
<strong>  Pass 1 - Öppen källkod som bas i den digitala allemansrätten</strong>

<ul class="list-group list-group-flush small">
<li class="list-group-item list-group-item-secondary">10.00 - Introduktion<br>
Översikt av dagen, beskrivning av NOSAD och Open Source-katalogen.
Maria Dalhage, Projektledare, JobTech Dev, Arbetsförmedlingen
</li>
<li class="list-group-item">10.10 - Public Money, Public Code</li>
<li class="list-group-item">Mirko Boehm, Open Source Ambassador, MBition/Daimler</li>

<li class="list-group-item list-group-item-secondary">10.35 - Källkod och data som digitala allmänningar</li>
<li class="list-group-item list-group-item-secondary">Per Runeson, Professor, Lunds universitet</li>
<li class="list-group-item">11.00 - Skapa nytta med dina medborgare</li>
<li class="list-group-item">SCORE replikeringsmodell och Smarta kartan;
Kim Lantto, Utvecklingsledare, Digitala service, Göteborgs Stad</li>

<li class="list-group-item list-group-item-secondary">11.30 - Panel - ”Den nya digitala allemansrätten”</li>
<li class="list-group-item list-group-item-secondary">Jonas Södergren, Tekniskt ansvarig, JobTech Dev, Arbetsförmedlingen;
Carl Gleisner, Biträdande jurist, Wesslau Söderqvist Advokater;
Niels Paarup-Petersen, Riksdagsledamot, Centerpartiet;
Kim Lantto, Utvecklingsledare, Digitala service, Göteborgs Stad
</li>
</ul>
</p><p>
<strong>Pass 2 - Hur möjliggör vi anskaffning och utveckling av öppen källkod inom offentlig sektor?</strong>
<ul class="list-group list-group-flush small">
<li class="list-group-item list-group-item-secondary">13.00 - Introduktion<br>Hur myndigheter kan beakta öppen källkod vid utveckling och anskaffning av programvara
Johan Linåker, Forskare, Lunds universitet</li>
<li class="list-group-item">13.30 - Hälsa och säkerhet hos öppna källkodsprojekt</li>
<li class="list-group-item">Brian Proffitt, Manager, Community Insights, Red Hat's Open Source Program Office</li>
<li class="list-group-item list-group-item-secondary">14.00 - Inlåsning och öppan standarder</li>
<li class="list-group-item list-group-item-secondary">Björn Lundell, Professor, Högskolan i Skövde</li>
<li class="list-group-item">14.30 - Panel - Hur möjliggör vi anskaffning och utveckling av öppen källkod inom offentlig sektor?</li>
<li class="list-group-item">Johan Thelin, Foss-north;
Carl-Eric Mols, Strateg kring öppen källkod (konsult från Addalot);
Adrian Solitander, Programledare för CivicTech, Vinnova;
Göran Westerlund, CDO Alingsås kommun, samt styrelseledamot i Sambruk;
Henrik Sandklef, Foss-north;
Jonas Feist, Open Source Sweden
</li>
</ul>
</p>
<a href="https://www.goto10.se/event/oppen-kallkod-som-en-del-av-den-digitala-allemansratten/">Boka plats</a>
</div>
</div>

-->

<!--
<div class="row row-striped">
<div class="col-3 text-center">
<h1 class="display-4"><span class="badge badge-secondary">15</span></h1>
<h2>Juni</h2>
</div>
<div class="col-9">
<h3 class="text-uppercase"><strong>Offentlighetsprincipen - från bråkstake till bästa kompis</strong></h3>
<ul class="list-inline">
<li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tisdag</li>
<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 12:00</li>
<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
</ul>
<p>Öppna data och allmänna handlingar är skilda områden men det finns
behov av att involvera och skapa bryggor och länka dessa separata
verkligheter och områden - inte minst utifrån det förslag som nu
ligger ute för remiss att ta avgifter på elektronisk information.
Fokus är att lyfta utmaningar kopplat till projekt och initiativ som
gör livet bättre och lättare för både myndigheter och medborgare.      </p>
<a href="https://www.goto10.se/event/offentlighetsprincipen-fran-brakstake-till-basta-kompis/">Boka plats</a>

</div>
</div>
-->

<div class="card-body">
  <p>En gång i månaden anordnas en workshop på Internetstiftelsens mötesplats Goto10. Det är deltagarna som gör forumet. Kontakta maria.dalhage@arbetsformedlingen.se för att påverka agendan. Läs mer om <a href="https://gitlab.com/open-data-knowledge-sharing/wiki/-/wikis/Digital-Workshopserie">kommande eller föregående workshopar</a></p>
<hr>
</div>

<!--
<div class="row row-striped">
  <div class="col-3 text-center">
    <h1 class="display-4"><span class="badge badge-secondary">7</span></h1>
    <h2>Sep</h2>
  </div>
  <div class="col-9">
    <h3 class="text-uppercase"><strong>Samarbete kring gemensamma och öppna resurser inom Trafik- och mobilitetssektorn</strong></h3>
    <ul class="list-inline">
      <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tisdag</li>
      <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 12:00</li>
      <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
    </ul>
    <p>Låt er inspireras av och diskutera de möjligheter ut utmaningar som finns inom sektorn för kollektivtrafik när det gäller öppna data, öppna standarder och öppen källkod. Vad är generiskt och vad kan ni ta med er till er domän?</p>
    <a href="https://www.goto10.se/event/samarbete-kring-oppen-kallkod-och-data-inom-kollektivtrafiksektorn/">Anmälning</a>

  </div>
</div>
-->
<!--
<div class="row row-striped">
  <div class="col-3 text-center">
    <h1 class="display-4"><span class="badge badge-secondary">4</span></h1>
    <h2>Okt</h2>
  </div>
  <div class="col-9">
    <h3 class="text-uppercase"><strong>Kan vi möta svenska städers behov av digital infrastruktur via nordamerikanska lärdomar?</strong></h3>
    <ul class="list-inline">
      <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Måndag</li>
      <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 14 - 15:30</li>
      <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
    </ul>
    <p>Anordnas av Drive Sweden-Projektet DIGINFRA och NOSAD. Behovet av och förutsättningarna för att bygga digital infrastruktur kan se väldigt olika ut. Men inom ett standardarbete som letts av Open Mobility Foundation har flera nordamerikanska städer i öppet samarbete med privata aktörer lyckats skapa en kärna för digital infrastruktur, vilken idag används i bland annat Chicago, Los Angeles och Stockholm.</p>
    <p>

  </div>
</div>
-->

<!--
<div class="row row-striped">
  <div class="col-3 text-center">
    <h1 class="display-4"><span class="badge badge-secondary">12</span></h1>
    <h2>Okt</h2>
  </div>
  <div class="col-9">
    <h3 class="text-uppercase"><strong>Byggblock API-hantering</strong></h3>
    <ul class="list-inline">
      <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tisdag</li>
      <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 12:00</li>
      <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
    </ul>
    <p>Nu blir det enklare för er som tillhandahåller öppna data och API:er!</p><p>
På agendan finns bl.a. en genomgång av API-playbook innehållande en svensk profil för API:er samt en demo av ett automatiserat sätt för registrering av metadata för datamängder och API:er på Sveriges dataportal
</p><p>
Diskutera med oss i grupper och reflektera över innehållet i den svenska API-profilen samt övriga delar i API-Playbook.
</p><p>
Presentatörer:<br>
Fredrik Nordlander (DIGG), Fredrik Vesström (Bolagsverket), Johan Stang (Lantmäteriet) Manne Andersson (eHälsomyndigheten), Ulrika Häggqvist (Arbetsförmedlingen), Jessica Prytz (Arbetsförmedlingen) Jonas Södergren (Arbetsförmedlingen).

Moderator: Maria Dalhage (Arbetsförmedlingen), Johan Linåker (Lunds universitet)</p>
    <a href="https://www.goto10.se/event/nosad-natverkande-kring-oppna-data-och-oppen-kallkod-2/">Anmälning</a>

  </div>
</div>
-->

<!--
<div class="row row-striped">
  <div class="col-3 text-center">
    <h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
    <h2>Nov</h2>
  </div>
  <div class="col-9">
    <h3 class="text-uppercase"><strong>Nosad på internetdagarna</strong></h3>
    <ul class="list-inline">
      <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tisdag</li>
      <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 15:15</li>
      <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
    </ul>
    <p>Kan vi ha en digital allemansrätt för öppen källkod och öppna data och vad kan det betyda för samhället? Under paneldiskussioner och samtal med politiker, myndigheter och forskare kommer du höra mer om hur digitala allmänningar kan fungera och vad som krävs för att vi ska nå dit. <a href="https://internetdagarna.se/event/digitala-allmanningar-sa-skapar-vi-samhallsnytta/">Läs mer.</a> Vi arbetar på att kunna släppa materialet öppet i efterhand så snabbt som möjligt. </p>


  </div>
</div>




<div class="row row-striped">
  <div class="col-3 text-center">
    <h1 class="display-4"><span class="badge badge-secondary">7</span></h1>
    <h2>Dec</h2>
  </div>
  <div class="col-9">
    <h3 class="text-uppercase"><strong>e-Arkiv / öppen källkod</strong></h3>
    <ul class="list-inline">
      <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tisdag</li>
      <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 12:00</li>
      <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
    </ul>
    <p>Temat är e-arkiv och hur man kan använda sig av öppen källkod och öppna standarder/specifikationer för att möjliggöra digitalt bevarande. Sydarkivera, Tullverket och Arbetsförmedlingen kommer ge en överblick på de olika stegen i processen att välja, utvärdera och använda en e-arkivslösning baserat på öppen källkod. Utöver presentationerna finns utrymme för att diskutera hur vi kan bygga upp ett community dels utifrån e-arkiv generellt men även e-arkiv baserat på öppen källkod specifikt. Gå gärna in på dataportalens forum för community och bekanta er, ni hittar det här: <a href="https://community.dataportal.se">dataportalens forum</a></p>
    <a href="https://www.goto10.se/event/nosad-natverkande-kring-oppna-data-och-oppen-kallkod/">Anmälning</a>

  </div>
</div>

-->

<div class="row row-striped">
  <div class="col-3 text-center">
    <h1 class="display-4"><span class="badge badge-secondary">11</span></h1>
    <h2>Jan</h2>
  </div>
  <div class="col-9">
    <h3 class="text-uppercase"><strong>Lärdomar från förra året</strong></h3>
    <ul class="list-inline">
      <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tisdag</li>
      <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 12:00</li>
      <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
    </ul>
    <p></p>
    <a href="https://www.goto10.se/event/nosad-retrospektiv/">Till anmälan</a>

  </div>
</div>

<div class="row row-striped">
  <div class="col-3 text-center">
    <h1 class="display-4"><span class="badge badge-secondary">1</span></h1>
    <h2>Feb</h2>
  </div>
  <div class="col-9">
    <h3 class="text-uppercase"><strong>Open by default inom offentlig verksamhet</strong></h3>
    <ul class="list-inline">
      <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tisdag</li>
      <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 11:00</li>
      <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
    </ul>
    <p>Jari Koponen från Sundsvalls kommun att presentera ”Open by default – Varför öppenhet är avgörande för kommunernas framtid”. Ni får också möta Josef Andersson i rollen som Open Source Lead, från SVT, som förklarar hur SVT arbetar för att förbättra och sprida ett Open Source-tankesätt inom organisationen.<br>
Moderator: Maria Dalhage</p>
    <a href="https://www.goto10.se/event/nosad/">Till anmälan</a>

  </div>
</div>

<div class="row row-striped">
  <div class="col-3 text-center">
    <h1 class="display-4"><span class="badge badge-secondary">1</span></h1>
    <h2>Mar</h2>
  </div>
  <div class="col-9">
    <h3 class="text-uppercase"><strong>Kommer snart</strong></h3>
    <ul class="list-inline">
      <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tisdag</li>
      <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 12:00</li>
      <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
    </ul>
    <p></p>
    <a href="https://www.goto10.se/event/nosad-natverkande-kring-oppna-data-och-oppen-kallkod-4/">Till anmälan</a>

  </div>
</div>

<div class="row row-striped">
  <div class="col-3 text-center">
    <h1 class="display-4"><span class="badge badge-secondary">5</span></h1>
    <h2>Apr</h2>
  </div>
  <div class="col-9">
    <h3 class="text-uppercase"><strong>Kommer snart</strong></h3>
    <ul class="list-inline">
      <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tisdag</li>
      <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 12:00</li>
      <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
    </ul>
    <p></p>
    <a href="https://www.goto10.se/event/nosad-natverkande-kring-oppna-data-och-oppen-kallkod-5/">Till anmälan</a>

  </div>
</div>

<div class="row row-striped">
  <div class="col-3 text-center">
    <h1 class="display-4"><span class="badge badge-secondary">3</span></h1>
    <h2>Maj</h2>
  </div>
  <div class="col-9">
    <h3 class="text-uppercase"><strong>Kommer snart</strong></h3>
    <ul class="list-inline">
      <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tisdag</li>
      <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 12:00</li>
      <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
    </ul>
    <p></p>
    <a href="https://www.goto10.se/event/nosad-natverkande-kring-oppna-data-och-oppen-kallkod-6/">Till anmälan</a>

  </div>
</div>

<div class="row row-striped">
  <div class="col-3 text-center">
    <h1 class="display-4"><span class="badge badge-secondary">7</span></h1>
    <h2>Jun</h2>
  </div>
  <div class="col-9">
    <h3 class="text-uppercase"><strong>Kommer snart</strong></h3>
    <ul class="list-inline">
      <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tisdag</li>
      <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 12:00</li>
      <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Digitalt</li>
    </ul>
    <p></p>
    <a href="https://www.goto10.se/event/nosad-natverkande-kring-oppna-data-och-oppen-kallkod-7/">Till anmälan</a>

  </div>
</div>

</div>

<div class="row mt-5"></div>


</div>
